VITE_WAZUH_SERVER_API_PROTOCOL="https"
VITE_WAZUH_SERVER_API_HOST="192.168.74.130"
VITE_WAZUH_SERVER_API_PORT="55000"
VITE_WAZUH_SERVER_API_USERNAME="wazuh"
VITE_WAZUH_SERVER_API_PASSWORD="Owazuh"
VITE_WAZUH_SERVER_AUTH_TOKEN_EXP_TIMEOUT="900"

VITE_WAZUH_INDEXER_USER="admin"
VITE_WAZUH_INDEXER_PASSWORD="wazuh"
VITE_WAZUH_INDEXER_PORT="9200"