WAZUH_SERVER_API_PROTOCOL="https"
WAZUH_SERVER_API_HOST="192.168.211.9"
WAZUH_SERVER_API_PORT="55000"
WAZUH_SERVER_API_USERNAME="wazuh"
WAZUH_SERVER_API_PASSWORD="wazuh"
WAZUH_SERVER_AUTH_TOKEN_EXP_TIMEOUT="900"

TEST_LLM_MODEL=""
TEST_LLM_API_KEY=""
TEST_LLM_BASE_URL=""

WAZUH_INDEXER_USER="admin"
WAZUH_INDEXER_PASSWORD=""
WAZUH_INDEXER_PORT="9200"
PINECONE_API_KEY=""
EMBEDDING_MODEL=""
EMBEDDING_DIMENSION=384
HF_ENDPOINT="https://hf-mirror.com"
